/gui/ListaTabelaOsob/build/
/gui/ListaTabelaOsob/nbproject/private/
/gui/KonwerterWalut/nbproject/private/
/gui/cwiczenia6/nbproject/private/
/gui/GeneratorOsob/nbproject/private/
/gui/cwiczenia7/build/
/gui/GeneratorOsob/build/
/gui/ListaTabelaOsob_v1/nbproject/private/